<div class="panel panel-default" id="headings">
  <div class="panel-heading"><%= @page.full_link %>
    <%= link_to edit_page_path(@page), title: '編集' do  %>
      <i class="fa fa-pencil fa-plum header-icon"></i>
    <% end %>
    <%= link_to @page, method: :delete, data: { confirm: 'ページを削除します。宜しいですか?' }, title: '削除'  do  %>
      <i class="fa fa-trash fa-plum header-icon"></i>
    <% end %>
    <%= link_to archive_page_path(@page), method: :post, data: { confirm: 'ページをアーカイブ。宜しいですか?' }, title: 'アーカイブ'  do  %>
      <i class="fa fa-archive fa-plum header-icon"></i>
    <% end %>
    <% if @page.tags %>
      <span class="header-icon">
        <% @page.tags.each do |tag| %>
          <span class="label label-info box">
            <%= link_to tag, pages_path(tag: tag) %>
          </span>
        <% end %>
      </span>
    <% end %>
    <span class="pull-right">
      最終更新日時： <%= I18n.l(@page.updated_at, format: :short) %>
    </span>
  </div>
  <div class="panel-body">
    <%= @markdown.render(@page.body).html_safe %>
  </div>
  <% if @page.children.present? %>
    <div class="panel-footer">
      <h4>子ページ</h4>
      <ul>
        <% @page.children.each do |page| %>
          <% ActiveDecorator::Decorator.instance.decorate(page) %>
          <li><a href="<%= page.to_url %>"><strong><%= page.title %></strong></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
