<div class="card border-primary" id="headings">
  <div class="card-header"><%= @page.title %>
    <%= link_to @page, method: :delete, data: { confirm: 'ページを削除します。宜しいですか?' }, title: '削除'  do  %>
      <i class="fa fa-trash header-icon"></i>
    <% end %>
    <%= link_to restore_archived_page_path(@page), method: :post, data: { confirm: 'ページをリストアします。宜しいですか?' }, title: 'リストア'  do  %>
      <i class="fa fa-undo header-icon"></i>
    <% end %>
    <% if @page.tags %>
      <span class="header-icon">
        <% @page.tags.each do |tag| %>
          <span class="label label-info box">
            <%= link_to tag, pages_path(tag: tag) %>
          </span>
        <% end %>
      </span>
    <% end %>
  </div>
  <div class="card-body">
    <div class="card-text">
      <%= @markdown.render(@page.body).html_safe %>
    </div>
  </div>
</div>
