<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Wikin!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="<%= new_page_path %>" class="nav-link">ページ作成</a>
        </li>
        <li class="nav-item active">
          <a href="<%= pages_path %>" class="nav-link">ページ一覧</a>
        </li>
        <li class="nav-item active">
          <a href="<%= archived_pages_path %>" class="nav-link">アーカイブページ一覧</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            管理者操作
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'ダンプデータダウンロード', admin_dump_path, data: { confirm: 'ダンプデータをダウンロードします。宜しいですか?' }, class: "dropdown-item"%>
          </div>
        </li>
      </ul>
      <%= form_tag search_pages_path, class: "form-inline my-2 my-lg-0", method: :get do |_| %>
        <%= text_field '', :query, class: "form-control mr-sm-2", placeholder: "サイト内検索", "aria-label": "Search" %>
        <%= submit_tag '検索', class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </div>
  </div>
</nav>
