<!DOCTYPE html>
<html>
<head>
  <title>Wikin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <% if use_action_cable? %>
    <%= javascript_include_tag 'cable' %>
  <% end %>

  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <%= render 'header' %>
  <div class="container">
    <div class="row">
      <%= render 'flash' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
