<!DOCTYPE html>
<html>
<head>
  <title>Wikin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<%= render 'header' %>

  <div class="container">
    <div class="row">
      <%= render 'flash' %>
      <div class="col-lg-2">
        <%= render 'side_menu' %>
      </div>
      <div class="col-lg-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
